button {
  background-color: white;
}

#speak {
  i {
    color: #ef5350;
  }

  &:focus,
  &:hover {
    background-color: #ef5350 !important;
    i {
      color: white !important;
    }
  }
}

#listen {
  i {
    color: #4caf50;
  }

  &:focus,
  &:hover {
    background-color: #4caf50 !important;
    i {
      color: white !important;
    }
  }
}
