button {
  background-color: white;
  border: none;
}

#speak {
  i {
    color: #ef5350;
  }

  &:focus,
  &:hover {
    background-color: #ef5350;
    i {
      color: white;
    }
  }
}

#listen {
  i {
    color: #4caf50;
  }

  &:focus,
  &:hover {
    background-color: #4caf50;
    i {
      color: white;
    }
  }
}
