<div class="container-fluid header">
    <nav class="nav py-2 py-md-3">
        <span class="nav-link primary-font">
            Kết thúc
        </span>
    </nav>
</div>

<div class="container my-4 d-flex flex-column">
    <h1 class="mx-auto text-center primary-font">Cảm ơn bạn vì đã tham gia đóng góp vào dự án!</h1>
    <p *ngIf="isRedirecting" class="mx-auto text-center lead primary-font">Đang trở về trang web điểm danh trong 3
        giây...</p>
    <a routerLink="/">
        <button type="button" class="btn btn-lg btn-primary mt-4 mb-3 mx-auto d-block primary-font border">
            <span>Trở về trang chủ</span>
        </button>
    </a>
</div>